@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #333333;
  color: #FFFFFF;
  padding: 20px 40px;
}

header nav {
  display: flex;
  gap: 30px; 
}

header a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
}

header a:hover {
  text-decoration: underline;
}


h2 {
  text-align: center;
  margin-top: 35px;
  font-size: 2rem;
}

.principal {
  display: flex;
  gap: 20px;
  padding: 40px 20px;
  justify-content: center;
  background-color: #bfbfbf;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.segundario {
  border: 1.5px solid #222;
  padding: 25px;
  border-radius: 10px;
  background-color: #FFFFFF;
  max-width: 300px;
  width: 100%;
}

.segundario img {
  width: 100%;
  border-radius: 6px;
  height: 180px;
  object-fit: cover;
}

.card {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.card button {
  border-radius: 6px;
  background-color: #004a9d;
  color: #ffffff;
  border: none;
  padding: 10px 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.card button:hover {
  background-color: #0062d1;
  transform: scale(1.05);
}

.caixa {
  margin-top: 30px;
  width: 60%;
  padding: 13px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333333;
  border-radius: 8px;
  color: #FFFFFF;
}

.caixa h3 {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}

.central {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.caixa input {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.caixa button {
  border-radius: 6px;
  background-color: #004a9d;
  color: #ffffff;
  border: none;
  padding: 10px 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.caixa button:hover {
  background-color: #0062d1;
  transform: scale(1.05);
}

footer {
  text-align: center;
  margin-top: 30px;
  background-color: #333333;
  color: #FFFFFF;
  padding: 10px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
    gap: 8px;
    padding: 15px;
  }

  .principal {
    padding: 20px;
  }

  .caixa {
    width: 90%;
  }

  .caixa input {
    margin-top: 10px;
    width: 87%;
    margin-left: 10px;
  }

  .caixa button{
    width: 92%;
    margin-left: 13px;
    
  }

  .central {
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.5rem;
  }

  .segundario {
    max-width: 90%;
  }

  .card {
    flex-direction: column;
    gap: 10px;
  }

  .card button {
    width: 100%;
  }
}
